.main {
    margin-top: 60px;
    text-align: center;
    margin-left: 250px;
}

.main div:first-child div {
    float: left;
    margin-left: 30px;
    width: 250px;
}

.main div:first-child div img {
    width: 250px;
}

.main div:first-child div p {
    border: 1px solid white;
    border-top: none;
    background-color: rosybrown;
    opacity: .5;
    color: white;
}

.main div:nth-child(3) {
    position: relative;
}

.main div:nth-child(3) div {
    position: absolute;
    width: 250px;
}

.test1 {
    top: -130px;
    left: 310px;
    width: 270px;
}

.test2 {
    left: 590px;
    top: -70px;
    width: 270px;
}

.test3 {
    top: 30px;
    left: 25px;
    width: 270px;
}

.main div:last-child div img {
    width: 250px;
}

.main div:nth-child(3) div p {
    border: 1px solid white;
    border-top: none;
    background-color: rosybrown;
    opacity: .5;
    color: white;
}